*[disabled] {
  opacity: 0.2;
  cursor: wait;
}

.auth {
  display: flex;
  flex-direction: column;
  background-color: #101934;
  min-height: 100vh;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  gap: 55px;
  padding-bottom: 45px;
}

.principal {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: transparent;
  /* 2. O GRANDE SEGREDO: Desfoca o que está POR TRÁS do container */
  -webkit-backdrop-filter: blur(12px); /* Suporte para Safari */
  backdrop-filter: blur(12px);

  /* 3. Borda sutil imitando o reflexo da luz na quina do vidro */
  border: 1px solid rgba(255, 255, 255, 0.12);

  /* Arredondamento dos cantos para um design moderno */
  border-radius: 16px;

  /* 4. Sombra suave para dar profundidade e descolar o container do fundo */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  /* Ajustes extras de espaçamento internos */
  padding: 40px;
  width: 100%;
  max-width: 60vw;
}

.principal h1 {
  font-size: 42px;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form > input {
  width: 26vw;
  font-size: 21px;
  background: #E8F0FE;
  color: #000;
  border: 0.5px solid #00000031;
  border-radius: 15px;
  outline: none;
  padding: 15px;
  transition: 0.3s ease all;
}

.form > input:focus {
  transform: scale(1.05);
}

.principal button {
  align-self: center;
  outline: none;
  border: none;
  font-size: 18px;
  border-radius: 45px;
  color: #fff;
  background: linear-gradient(135deg, #c09b3e 0%, #8b6d20 75%, #877034 100%);
  cursor: pointer;
  transition: 0.3s ease all;
  width: 60%;
  padding: 15px;
}

.principal button:hover {
  background: linear-gradient(135deg, #dbb147 0%, #b78f2b 75%, #ad8f42 100%);
  transform: scale(1.1);
}
