.winner {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-primary);
  height: 100vh;
  color: var(--color-text-primary);
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
}

.winner span {
  font-size: 56px;
}

.winner > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  gap: var(--space-3);
}

.winner > div img {
  border-radius: 50%;
}

.winner button {
  background-color: aquamarine;
  color: #000;
  padding: var(--space-4);
  border-radius: var(--radius-lg);
  border: none;
  outline: none;
  border: rgb(186, 231, 216) 1px solid;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
}

.winner button:hover {
  transform: scale(1.1);
  background-color: rgb(189, 252, 231);
}
