.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-bg-card-alt);
  width: 100%;
  max-width: 100%;
  height: fit-content;
  padding: 15px 1rem;
  overflow-y: hidden;
  flex-wrap: wrap;
  -webkit-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.5);  
}

.logo {
  gap: 7px;
  height: fit-content;
  display: flex;
  font-size: 72px;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.logo img {
  width: auto;
  height: 15vh;
}

.actions {
  align-self: center;
  display: flex;
  gap: 45px;
  padding: 15px;
}

.actions a {
  font-size: 36px;
  text-decoration: none;
  list-style: none;
  color: #fff;
  transition: 0.3s ease all;
}

.actions a:hover:not(.login) {
  transform: scale(1.1);
  color: #6b7590;
}

@media (max-width: 720px) {
  .logo {
    font-size: 52px;
  }

  .actions {
    gap: 20px;
    padding: 0;
  }

  .actions a {
    font-size: 28px;
  }
}

@media (max-width: 520px) {
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  .actions {
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }

  .actions a {
    font-size: 20px;
  }
}

.login {
  background-color: #7987ac;
  padding: 7px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.login:hover {
  transform: scale(1.1);
  background-color: #8799cb;
}

:global(a.active):not(.login) {
  color: var(--color-bg-surface);
  font-weight: bold;
}
