.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-size: 18px;
}

.indicator p {
  color: var(--color-text-muted);
  padding: 5px;
}

.indicator strong {
  color: var(--color-accent-light);
}
