@import url("https://fonts.googleapis.com/css2?family=Pliant:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-border-1: #303748;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
